.imageT{
    width: 70px;
    height: 70px;
    border-radius: 15%;
}
.textpei{
    margin-left: 20px;
    padding-top: 20px;
}
.navp{
    background-color: snow;
    margin: 20px;
}
.bodys{
    background-color: beige;
}
.heads{
    margin-top: 35px;
}
.imaged{
    width: 35px;
    margin-left: 18px;
    float: left;
    margin-top: 7px;
    border-radius: 50%;
}
.glyphicon-list:before {
    padding-right: 10px;
    /*color: #080303bf;*/
    color: #807c79;
}
.glyphicon-tags:before {
    padding-right: 15px;
    /*color: #080303bf;*/
    color: #807c79;
}
.fontfa{
    /*color: #080303bf;*/
    color: #807c79;
    /*font-family: -webkit-body;*/
    font-family: cursive;
}
.question{
    font-family: cursive;
    font-size: x-large;
    color: #337ab7;
}
.tagdiy{
    font-family: cursive;
   padding-top: 3px;
}
.labersty{
    font-family: cursive;
    margin-left: 2px;
}
.topicList{
    margin-top: 22px;
}
.topic{
    font-family: cursive;
    font-size: 15px;
    float: left;
    color: #337ab7;
}
.iconTopic{
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 10px;
}