.bodysd{
    background: beige;
}
.liebiao{
    margin-top: 16px;
}
.biheight{
    height: 600px;
}
.imaged{
    width: 35px;
    float: none;
    margin-top: 7px;
    border-radius: 50%;
}
.labersty{
    font-family: cursive;
}
.navp{
    background-color: snow;
    width: 1300px;
    margin: auto;
    margin-top: 75px;
}
.glyphicon-user:before{
    padding-right: 10px;
    /*color: #080303bf;*/
    color: #807c79;
}
.heads{
    margin-top: 35px;
}
.media-object{
    width: 90px;
    height: 90px;
    border-radius: 15%;
}
.form-control{
    width: 55%;
}
.btnprofile{
    float: right;
    margin-right: 200px;
}
.bianju{
    padding-left: 25px;
}
.list-group{
    margin-top: 12px;
}
.fontfa{
    /*color: #080303bf;*/
    color: #807c79;
    /*font-family: -webkit-body;*/
    font-family: cursive;
}
.imageT{
    width: 70px;
    height: 70px;
    border-radius: 15%;
}
.textpei{
    margin-left: 20px;
    padding-top: 20px;
}
.question{
    font-family: cursive;
    font-size: x-large;
    color: #337ab7;
}
.tagdiy{
    font-family: cursive;
    padding-top: 3px;
}