.bodysd{
    background: beige;
}
.lab3{
    margin-left: 15px;
    font-family: cursive;
}
.lab2{
    margin-left: 15px;
    margin-top: 20px;
    font-family: cursive;
}
.lab{
    margin-top: 20px;
    font-family: cursive;
}
.btn1{
    margin-top: 20px;
    float: right;
    font-family: cursive;
}
.textArea{
    margin-top: 10px;
    height: 400px;
}
.tli{
    margin-top: 25px;
}
.problem{
    margin-left: 30px;
}
.row1{
    background-color: beige;
    margin-top: 50px
}
.imaged{
    width: 35px;
    float: none;
    margin-top: 7px;
    border-radius: 50%;
}
.navp{
    background-color: snow;
    width: 1300px;
    margin: auto;
    margin-top: 75px;
}
.fon{
    margin-top: 4px;
    font-family: cursive;
    color: gray;
}
.fon2{
    margin-top: 4px;
    font-family: cursive;
}