.bodysd{
    background: beige;
}
.lab3{
    margin-left: 15px;
    font-family: cursive;
}
.lab2{
    margin-left: 15px;
    margin-top: 20px;
    font-family: cursive;
}
.lab{
    margin-top: 20px;
    font-family: cursive;
}
.btn1{
    margin-top: 20px;
    float: right;
    font-family: cursive;
}
.textArea{
    width: 100%;
    margin-top: 10px;
    height: 400px;
}
.tli{
    margin-top: 25px;
}
.problem{
    margin-left: 30px;
}
.row1{
    background-color: beige;
    margin-top: 50px
}
.imaged{
    width: 35px;
    margin-left: 18px;
    float: left;
    margin-top: 7px;
    border-radius: 50%;
}
.navp{
    background-color: snow;
    margin: 30px;
}
.navSm{
    background-color: snow;
    margin: 3px;
}
.fon{
    margin-top: 4px;
    font-family: cursive;
    color: gray;
}
.fon2{
    margin-top: 4px;
    font-family: cursive;
}
.labersty{
    font-family: cursive;
}
.btnsm{
    margin-left: 10px;
    float: right;
    margin-top: 80px;
    background-color: antiquewhite
}