.fon{
    margin-top: 4px;
    font-style: oblique;
    color: gray;
}
.fon2{
    margin-top: 4px;
    font-style: oblique;
}
.body{
    background: gainsboro;
}
.tli{
    margin-top: 25px;
}
.textArea{
    margin-top: 10px;
    height: 400px;
}
.lab{
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
    float: right;
}
.problem{
    margin-left: 30px;
}
.container2{
    background-color: aliceblue;
    width: 1300px;
}
.row1{
    background-color: beige;
    margin-top: 50px
}
.lab2{
    margin-left: 15px;
    margin-top: 20px;
}
.lab3{
    margin-left: 15px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.media-object{
    width: 60px;
    height: 60px;
}
.fontsize{
    font-size: initial;
}
.iconSize{
    font-size:37px
}
.login{
    margin-top: 40px;
}
.imagedi{
    float: none;
    margin-right: auto;
}
