<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小新社区</title>
    <script src="webjars/jquery/3.4.0/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{webjars/layui/2.5.4/css/layui.css}">
    <link rel="stylesheet" href="MyCss/check.css">
</head>
<body class="bodys">
<!--   将相同的文件封装 然后在需要的地方直接插入-->
<div th:insert="~{footer :: nav}"></div>
<div class="row navp" >
    <div class="heads">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <div>
               <a href="#">
                    <img class="media-object imageT"th:src="${checkselectedQuestion.getAvatarUrl()}" >
                </a>
                <div class="checkTitle">
                <h4 class="media-heading question" th:text="${checkselectedQuestion.getTitle()}"></h4><br>
                <h4 class="tagdiy" th:text="${checkselectedQuestion.getTag()}"></h4><br>
                    <span><span th:text="${checkselectedQuestion.getCommentCount()}"></span>个回复 • <span th:text="${checkselectedQuestion.getViewCount()}"></span>次浏览
                        •<span th:text="${#dates.format(checkselectedQuestion.getGmtCreate(),'yyyy-MM-dd HH:mm:ss')}"></span></span>
                    <input type="hidden" id="hiddenId" th:value="${checkselectedQuestion.getId()}">
                </div>
                <div class="layui-input-block">
                    <textarea name="desc" id="commentByOther" class="layui-textarea textarealayui" readonly>[[${checkselectedQuestion.getDescription()}]]</textarea>
                </div>
        </div>
        <hr>
        <span class="comment"><span>评论</span><a href="#" class="dianzan">点赞</a></span>
        <div class="layui-input-block">
            <textarea id="comments"  class="layui-textarea commentByOther"></textarea>
        </div>
        <button type="button" class="btn btn-default labersty btnComment" onclick="doComment()">发布</button>
        <div class="commentText" th:if="${comentDtoList == null}">抱歉亲 占时没有评论</div>
        <div class="media commentList" th:each="comentList:${comentDtoList}">
            <div class="media-left media-middle" style="padding-left: 8px">
                <a href="#">
                    <img class="media-object imageT" th:src="${comentList.getAvatarUrl()}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading" style="margin-top: 11px" th:text="${comentList.getComment()}"></h4>
                <br>
                <span>点赞·<span th:text="${#dates.format(comentList.getGmcreatc(),'yyyy-MM-dd HH:mm:ss')}"></span></span>
                <br>
                <hr>
            </div>
        </div>
<!--        <ul class="flow-default" id="commentList"></ul>-->
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <h1 class="fontfa"><span class="glyphicon glyphicon-tags" aria-hidden="true" ></span>热门话题</h1>
        <div class="topicList">
            <div class="media" th:each="topicQuestion:${TopicQuestion}">
                <div class="media-body">
                    <span><a th:href="@{'/check?title='+${topicQuestion.getTitle()}}" class="media-heading topicQuestion" style="margin-top: 11px;" th:text="${topicQuestion.getTitle()}"></a><img th:src="@{images/小火苗.jpg}" class="icon_Topic"></span>
                </div>
            </div>
        </div>
        <hr>
    </div>
    </div>
</div>
<script th:src="@{webjars/layui/2.5.4/layui.js}"></script>
<script th:inline="javascript">
    layui.use('layer', function(){
        var layer = layui.layer;
    });
    // 注销
    function doLogout() {
        $.ajax({
            url:"/logout",
            type:"GET",
            sync:false,
            success:function (data) {
                layer.msg(data,{
                    icon: 1,
                    time: 2000
                }, function(){
                    parent.location.href="/"
                })
            }
        })
    }
    function doComment() {
        var PrimyId=$("#hiddenId").val();
        $.ajax({
            url:"/doComment/"+PrimyId,
            type:"POST",
            sync:false,
            data:{commentText:$("#comments").val()},
            success: function (data) {
                window.location.reload();
            }
        })
    }

    // layui.use('flow', function(){
    //     var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
    //     var flow = layui.flow;
    //     flow.load({
    //         elem: '#commentList' //指定列表容器
    //         ,end:'<div class="commentText">抱歉亲 占时没有评论</div>'
    //         ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
    //             var lis = [];
    //             //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
    //             $.post('/?page='+page, function(res){
    //                 //假设你的列表返回在data集合中
    //                 layui.each(res.data, function(index, item){
    //                     // lis.push('<div class="media"><div class="media-left media-middle"><a href="#"><img class="media-object imageT" src='
    //                     //     +item.avatarUrl+'></a></div>'+'<div class="media-body textpei"><a href="/check?title='+item.title+'"'+' class="question">'
    //                     //     +item.title+'</a><h4 class="tagdiy">'+item.tag+'</h4><br><span class="labersty">'
    //                     //     +item.commentCount+'</span><span class="labersty">个回复 •</span><span>'
    //                     //     +item.viewCount+'</span><span class="labersty">次浏览•</span><span class="labersty">'+item.gmtCreate+'</span></span><hr></div></div>');
    //                 });
    //                 next(lis.join(''), page <res.pages);
    //             });
    //         }
    //     });
    // })
</script>
</body>
</html>
