<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小新社区</title>
    <script th:src="@{webjars/jquery/3.4.0/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{webjars/layui/2.5.4/css/layui.css}">
    <link rel="stylesheet" th:href="@{MyCss/publish.css}">
    <link  th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

</head>
<body class="body">
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><a href="">小新社区</a></li>
    <li class="layui-nav-item" style="margin-left: 20px">
    <form class="layui-form" action=""><input type="text" name="title" placeholder="搜索问题" autocomplete="off" class="layui-input"></form></li>
    <li class="layui-nav-item" style="margin-left: 15px"><button class="layui-btn" lay-submit lay-filter="formDemo" >立即提交</button></li>
    <li class="layui-nav-item" style="margin-left: 15px"><a href="">大数据</a></li>
    <li class="layui-nav-item" style="float: right" th:if="${session.user != null}">
        <img th:src="${session.user.getAvatarUrl()}" class="layui-nav-img imagedi"><a href="#" th:text="${session.user.getName()}" style="float: right;"></a>
        <dl class="layui-nav-child" th:if="${session.user != null}">
            <dd><a href="javascript:;">个人信息</a></dd>
            <dd><a href="javascript:;">安全管理</a></dd>
            <dd><a href="javascript:;" onclick="doLogout()">注销登陆</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item" style="float: right"><a href="/publish">发起提问</a></li>
    <li th:if="${session.user == null}" class="layui-nav-item" style="float: right"><a href="#" id="register">注册</a></li>
    <li th:if="${session.user == null}" class="layui-nav-item" style="float: right"><a href="#" id="login">登陆</a></li>
</ul>
<div class="layui-container container container2">
    <div class="layui-row row1">
        <div class="layui-col-md9">
            <h1 class="lab"><i class="layui-icon layui-icon-align-left iconSize"></i>发现</h1>
            <hr>
            <div class="media" th:each="UserQestions:${UserQuestion}">
                <div class="media-left media-middle">
                    <a href="#">
<!--                        th:src="@{images/1.jpg}"-->
                        <img class="media-object img-rounded"th:src="${UserQestions.avatarUrl}" >
                    </a>
                </div>
                <div class="media-body" style="margin-left: 20px;">
                    <h4 class="media-heading" th:text="${UserQestions.title}"></h4>
                    <a href="#"  class="fontsize" th:text="${UserQestions.description}">点击观看视频</a>
                    <br>
                    <span class="text-desc"><span th:text="${UserQestions.commentCount}"></span>个回复 • <span th:text="${UserQestions.viewCount}"></span> 次浏览 •<span th:text="${#dates.format(UserQestions.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span></span>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="lab3">
                <h1 class="lab2">热门话题</h1>
            </div>
        </div>
    </div>
</div>
<script th:src="@{webjars/layui/2.5.4/layui.js}"></script>
<script th:inline="javascript">
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
    });
    layui.use('layer', function(){
        var layer = layui.layer;
        //判断是否在有效期登陆过
        var msg = [[${msg}]];
        if (msg != null) {
          layer.msg(msg)
        }
    });
    function shut(){
        $(".layui-layer-close1").trigger('click');
    }
    $('#login').on('click', function(){
        layer.open({
            type:2
            ,title:'登陆框'
            ,content:['/goLogin','no',]
            ,area: ['500px', '62%']
            ,shadeClose:true
            ,offset: 'auto'
            , zIndex: layer.zIndex
            , success: function (layero) {
            layer.setTop(layero); //重点2
        },
        end: function () {
            window.location.reload();
        }
        });
    });
    $('#register').on('click', function(){
        layer.open({
            type:2
            ,title:'登陆框'
            ,content:['/goRegister','no',]
            ,area: ['500px', '62%']
            ,shadeClose:true
            ,offset: 'auto'
        });
    });

    function doLogout() {
        $.ajax({
            url:"/logout",
            type:"GET",
            sync:false,
            success:function (data) {
                layer.msg(data,{
                    icon: 1,
                    time: 2000
                }, function(){
                    parent.location.href="/"
                })
            }
        })
    }
</script>

</body>
</html>