<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" th:src="${userdata.getAvatarUrl()}" alt="...">
            </a>
        </div>
        <div class="media-body bianju">
            <form>
                <div class="form-group fontfa">
                    <label for="PersonText">用户名</label>
                    <input type="text" class="form-control" id="PersonText" th:value="${userdata.getName()}" >
                </div>
                <div class="form-group fontfa">
                    <label for="PasswordText">修改密码</label>
                    <input type="password" class="form-control" id="PasswordText" th:value="${userdata.getPassword()}">
                </div>
                <div class="form-group labersty">
                <label>账号创建时间:<span th:text="${#dates.format(userdata.getGmtCreate(),'yyyy-MM-dd HH:mm:ss')}"></span></label>
                </div>
                <button type="button" class="btn btn-default labersty" onclick="updateUser()">确认修改</button>
            </form>
        </div>
    </div>
</body>
</html>