<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小新社区发布</title>
    <script src="webjars/jquery/3.4.0/jquery.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{webjars/layui/2.5.4/css/layui.css}">
    <link rel="stylesheet" href="MyCss/publish.css">
    <style>
        .layui-icon{
            font-size: 36px;
        }
    </style>
</head>
<body class="bodysd">
    <div  th:insert="~{footer :: nav}"></div>
    <div class="container-fluid">
    <div class="row navp" id="nav5">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h1 class="lab"><i class="layui-icon layui-icon-add-1 iconSize"></i>发起提问</h1>
            <hr>
            <form class="layui-form labersty" action="/publish" method="post">
                <div class="layui-form-item">
                    <h2 class="lab">问题标题（简单扼要）：</h2>
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                <h2 class="lab">问题补充（必填，请按照右侧提示）</h2>
                    <textarea name="description" required lay-verify="required" placeholder="请输入" class="layui-textarea textArea"></textarea>
                <h2 class="lab">添加标签：</h2>
                    <input type="text" name="tag" required lay-verify="required" placeholder="请输入标签，以逗号（，）隔开" autocomplete="off" class="layui-input">
                    <li class="layui-nav-item btn1"><button class="layui-btn" lay-submit lay-filter="publish" >发布</button></li>
                </div>
            </form>
        </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="lab3">
            <h1 class="lab2">问题发起指南:</h1>
            <h3 class="fon"><span class="layui-badge-dot layui-bg-gray"></span>问题标准：请使用精简的语言描述您发布的问题，不超过50字</h3>
            <h3 class="fon"><span class="layui-badge-dot layui-bg-gray"></span>问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料</h3>
            <h3 class="fon2"><span class="layui-badge-dot layui-bg-black"></span>服务器运行环境信息</h3>
            <h3 class="fon2"><span class="layui-badge-dot layui-bg-black"></span>软件版本问题</h3>
            <h3 class="fon2"><span class="layui-badge-dot layui-bg-black"></span>问题发生的上下文信息</h3>
            <h3 class="fon2"><span class="layui-badge-dot layui-bg-black"></span>可以完整复现问题的代码</h3>
            <h3 class="fon2"><span class="layui-badge-dot layui-bg-black"></span>补充完整的异常和错误信息</h3>
            <h3 class="fon2"><span class="layui-badge-dot layui-bg-black"></span>注意阅读格式友好，代码和异常信息请用代码标签格式化张贴:</h3>
            <h3 class="fon"><span class="layui-badge-dot layui-bg-gray"></span>选择标签：选择一个或者多个何使的标签，不超过10个字</h3>
            </div>
    </div>
</div>
    </div>
<script src="webjars/jquery/3.4.0/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script th:src="@{webjars/layui/2.5.4/layui.js}"></script>
<script>
    var screenWidth=window.screen.availWidth;
    if (screenWidth < 500) {
        $("#nav5").attr("class","navSm row");
    }
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('layer', function(){
        var layer = layui.layer;
    });
    function doLogout() {
        $.ajax({
            url:"/logout",
            type:"GET",
            sync:false,
            success:function (data) {
                layer.msg(data,{
                    icon: 1,
                    time: 1500
                }, function(){
                    parent.location.href="/"
                })
            }
        })
    }

</script>




</body>
</html>